<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Valorant RNG</h1>
        <nav class="navBar">
            <li>
                <a href="/">Home</a>
            </li>
                <li>
                    <a href="/randomAgent">Agent aleatoire</a>
                </li>
                <li>
                    <a href="/randomTeam">Equipe aleatoire</a>
                </li>
        </nav>
    </header>