<%- include('./includes/header.ejs') %>


<section class="center-section">
    <h2>Armurerie Aléatoire Valorant: Équipez-vous de Puissance </h2>
    <div id="waypont-name"></div>
    <div id="random-img" class="contain-img"></div>
    <button class="button-40" role="button" id="btn">Lancer la roulette</button>
  
</section>
<script src="script/app.js"></script>

<%- include('./includes/footer.ejs') %>
