<%- include('./includes/header.ejs') %>
    <section class="center-section">
        <h2>Valorant RNG: Forgez des Alliances Inattendues avec la RNG </h2>
        <div id="agent-name"></div>
        <div id="random-img" class="contain-img"></div>
        <button class="button-40" role="button" id="btn">Lancer la roulette</button>
    </section>

<script src="../script/teams.js"></script>
<%- include('./includes/footer.ejs') %>